body{
    background-color: #4793AF;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-family: "Poppins", sans-serif;
}

#puntos {
    position: fixed;  
    top: 0;       
    right: 0;
    padding: 10px;
    background-color: #FFC470;
    border: 1px solid #ccc;
    z-index: 1000;
}
.envoltura{
    width: 420px;
    background-color: #FFC470;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #8B322C;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-number{
    margin: 1rem 0rem;
    padding: 0.5rem;
    width: 14rem;
    border: none;
    border-radius: 15px;
}
.verificar-button{
    padding: 1rem 1rem;
    border-radius: 3rem;
    background: #8b322c;
    color: #fff;
    font-weight: 700;
}